{% extends 'main/header.html' %}
{% load static %}





    <!-- landing page -->

  <div class="landing-page">
    <div class="page-content">
      <h1>Buy And Sell Crypto With A Click</h1>
      <p>
        Over <b style="color: red">4 Million </b> clients are buying and selling their crpyto with ease on our platform. Welcome to the new World!!

      </p>
      
      <a href="/register">BUY</a>
      <a href="/register">SELL</a>
      <a href="/register">SELL</a>
      
      <p>hello</p>
    </div>
  </div>


  

  

 

