
      
 

<li><a class="purple-text" href="/">Home</a></li>

{% if user.is_authenticated %}

<li><a class="purple-text" href="/">{{user.username|title}}</a></li>
<li><a class="purple-text" href="/logout">Logout</a></li>
<li><a class="active purple-text" href="/dashboard">Dashborad</a></li>
<li><a class="waves-effect waves-light btn-large " href="#getStarted" data-activates="dropdown1">GET STARTED</a></li>


<!-- sidenav login -->
<!-- <ul class="sidenav grey lighten-2" id="mobile-menu">
  <li><a href="/account">{{user.username|title}}</a></li>
  <li><a href="/logout">Logout</a></li>
  <li><a href="#service">Services</a></li>
  <li><a href="#contact">Contact</a></li> 
  <li><a class="waves-effect waves-light btn-large " href="#getStarted" data-activates="dropdown1">GET STARTED</a></li> -->
 
<!-- </ul> -->

{% else %}

<li><a class="purple-text modal-trigger" href="#register">Sign Up</a></li>
<li><a class="purple-text modal-trigger"  href="#login">Login</a></li>
<li><a class="purple-text" href="#service">Services</a></li>
<li><a class="purple-text" href="#contact">Contact</a></li>
<!-- <li><a class="waves-effect waves-light btn-large " href="#getStarted" data-activates="dropdown1">GET STARTED</a></li> -->




{% endif %}

<!-- sidenav not login -->
<!-- </ul> -->
<!-- <ul class="sidenav grey lighten-2" id="mobile-menu">
  <li><a class="purple-text" href="/register">Sign Up</a></li>
  <li><a class="purple-text" href="/login">Login</a></li>
  <li><a class="purple-text" href="#service">Services</a></li>
  <li><a class="purple-text" href="#contact">Contact</a></li>
  <li><a class="purple-text"  href="#!" data-activates="dropdown1">GET STARTED</a></li>

  
</ul>
 -->



